*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position:relative;
    top:0px;
}
#logo{
    margin: 10px 35px;
}
#logo img{
    height:59px;
    margin:3px 6px;
     border-radius: 50%; 
}
#navbar ul {
    display:flex;
}
#navbar::before{
    content:" ";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    z-index:-1;
    opacity:0.7;
} 
#navbar ul li{
    display: flex;
    list-style: none;
    font-size:1.3rem;
}
 #navbar ul li a{
    display:block;
    padding:10px 10px;
    text-decoration: none;
    color:white;
     border-radius: 20px; 
}

#navbar ul li a:hover{
    color:white;
    background-color: black;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content:center ;
    align-items: center;
    height:420px;

}
#home::before{
    content:" ";
 background: url("f1.webp") no-repeat center/cover;
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    height: 70%;
    width:100%;
    z-index:-1;
    opacity:0.89;
}
#home h1{
    font-size: 4rem;
    color:wheat;
    font-family:'bree Serif',serif;
}

#home p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'bree Serif',serif;
}
/* service section */
#services{
    margin:2px;
    display:flex
}

#services .box{

border: 2px solid brown;
padding :10px;
margin:2px 6px;
border-radius: 28px;
background-color: #f2f2f2f2;
margin-bottom: 30px;

}
 #services img{
    height:80px;
    margin:auto;
    display: block;
} 
#services .box p{
 font-family:'bree Serif',serif;
}
#services h1{
    font-size: 40px;
}


/* #services{} */
/* #services{}  */
/* client section */
#client-section{
    /* height: 344px; */

     position:relative; 
}
#client-section::before{
    content: " ";
    position: absolute;
    background: url("f2.webp");
    width: 100%;
    height:100%;
    z-index:-1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items:center;
}
.client-item{
padding: 50px ;
}
#client img{
     height:125px; 
}
/* conatact section */
#contact{
position: relative; 
}
#contact::before{
    content:"";
position:absolute;
width:100%;
height: 100%;
z-index:-1;
opacity:0.7;
background:url("contact.jpg") no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding: 0.5em;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contact-box form{
    width:30%
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'bree Serif',serif; ;
}
footer{
    background-color:black;
    color: white;
    padding: 9px 20px;
}


/*utility classes */


 .h-primary{
    padding: 12px;
   color:black;
    font-size:3rem;
    font-family:'bree Serif',serif;
} 
.h-secondary{
    padding: 6px;
   font: size 2.3rem;
   font-family:'bree Serif',serif;
}


.btn{
    padding:6px  20px;
    border: 2px solid white;
    background-color:burlywood;
    color:white;
    margin: 17px;
    font-size:1.5rem;
    border-radius: 20px;
    cursor:pointer;
    
}
.center{
text-align: center;
}